.idea
build
.gradle
*.sw?
.#*
*#
*~
/build
/code
/Regression/jacocoagent.lib
.classpath
.project
.settings
.metadata
.factorypath
.recommenders
bin
lib/
target
.factorypath
.springBeans
interpolated*.xml
dependency-reduced-pom.xml
build.log
_site/
.*.md.html
manifest.yml
MANIFEST.MF
settings.xml
activemq-data
overridedb.*
*.iml
*.ipr
*.iws
.idea
!maven-wrapper.jar
.DS_Store
.factorypath
dump.rdb
transaction-logs
classes
out

logs/
**/.log
**/.log.gz

application.yml